<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/all-users.css">
    <link rel="stylesheet" href="/css/button3.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body >

<div th:replace="/fragments/nav-header"/>


<main style="margin: 1%">


    <div class="container rain" style="max-width: 992px; margin-left: 20%; margin-right: 20%">

 

<div class="card mb-3 shadow text-center" style=" display: flex;            max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/img/Abdulahi.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Abdulahi Mohamud</h5>
                <p class="card-text">Hello,my name is Abdulahi Mohamud. I am a full-stack software engineer who specializes in Java, I also have a  background in cyber security.I have acquired many skills and experiences such as critical thinking, and self-learning, and implemented those in projects and code challenges. I am in love with coding and I would like to encourage others who have a similar background!</p>
                <p class="card-text"><small class="text-muted">Last updated June, 2022</small></p>


                <div class="col-md-8">

                <!-- Linkedin -->
                <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #0082ca;"
                        href="https://www.linkedin.com/in/abdulahimmohamud/"
                        role="button"
                ><i class="fab fa-linkedin-in"></i
                ></a>
                <!-- Github -->
                <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #333333;"
                        href="https://github.com/AbdulahiMohamud"
                        role="button"
                ><i class="fab fa-github"></i
                ></a>
</div>
            </div>
        </div>
    </div>
</div>




    <div class="card mb-3 shadow text-center" style=" display: flex;            max-width: 1200px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/img/Mike.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Michael Brunette</h5>
                <p class="card-text">Hello, I am Michael Brunette. I am excited to be here with you today. Currently, I am a Software Developer located in Las Vegas, Nevada. I am an Air Force Veteran who was able to transition my knowledge into many different fields. Now I am transitioning all my past experiences into Software Development. The discipline, attention to detail, and strive for learning are all habits I have been able to transfer into the software field. I am most interested in developing applications that help us with productivity. Time for humans is our most valuable commodity. Being able to give more "time" to all, is what I strive for.
                </p>
                <p class="card-text"><small class="text-muted">Last updated June, 2022</small></p>

                <!-- Linkedin -->
                <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #0082ca;"
                        href="https://www.linkedin.com/in/michael-brunette-0800b5233/"
                        role="button"
                ><i class="fab fa-linkedin-in"></i
                ></a>
                <!-- Github -->
                <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #333333;"
                        href="https://github.com/mcbrunette33"
                        role="button"
                ><i class="fab fa-github"></i
                ></a>

            </div>
        </div>
    </div>
</div>

    <div class="card mb-3 shadow text-center" style=" display: flex;            max-width: 1200px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/Scott.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Scott Evans</h5>
                    <p class="card-text">Hello, I’m Scott. A software developer currently in the Army National Guard. I also do photography and videography as a side job. I’ve always been passionate about IT and I have experience building computers. I have had experience in construction for most of my jobs, and also with customer service so i feel that i will be a great team player when it comes down to having to share my ideas and also see the value in the ideas of others.</p>
                    <p class="card-text"><small class="text-muted">Last updated June, 2022</small></p>

                    <!-- Linkedin -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #0082ca;"
                            href="https://www.linkedin.com/in/scott-evans-87761b199/"
                            role="button"
                    ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #333333;"
                            href="https://github.com/mScottEvans"
                            role="button"
                    ><i class="fab fa-github"></i
                    ></a>

                </div>
            </div>
        </div>
    </div>



    <div class="card mb-3 shadow text-center" style=" display: flex;            max-width: 1200px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/rman.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Raul Zarate</h5>
                    <p class="card-text">I love the problem solving aspect in tech. No puzzle can't be solved without a team and willingness to fail 10,000 times!</p>
                    <p class="card-text"><small class="text-muted">Last updated June, 2022</small></p>

                    <!-- Linkedin -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #0082ca;"
                            href="https://www.linkedin.com/in/raul-zarate"
                            role="button"
                    ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                            class="btn btn-primary btn-floating m-1"
                            style="background-color: #333333;"
                            href="https://github.com/zaratr"
                            role="button"
                    ><i class="fab fa-github"></i
                    ></a>

                </div>
            </div>
        </div>
    </div>


        </div>

</main>



<footer th:replace="fragments/footer-signup :: footer"></footer>


<!--    Font Awesome-->
<script src="https://kit.fontawesome.com/7a5f3d2bb1.js" crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>