
$utilities: (

        "shadow": (
                property: box-shadow,
                class: shadow,
                values: (
                        null: $box-shadow,
                        sm: $box-shadow-sm,
                        lg: $box-shadow-lg,
                        none: none,



                )
        ),
);


